<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Leaderboard</h1>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Student ID</th>
                        <th>Department</th> 
                        <th>Reps</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, data in enumerate(sorted_data) %}
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ data[0] }}</td>
                            <td>{{ data[1] }}</td>
                            <td>{{ data[2] }}</td>
                            <td>{{ data[3] }}</td> 
                            <td>{{ data[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('index') }}" class="button">Back to Home</a>
        </div>
    </div>
</body>
</html>